<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".servies.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo2"
        android:label="@string/es_market"
        android:roundIcon="@mipmap/ic_logo2"
        android:statusBarColor="@color/your_desired_color"
        android:supportsRtl="true"
        android:theme="@style/Theme.Payway"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".activities_and_fragments.Activities.Show_product"
            android:exported="false" />
        <activity
            android:name=".activities_and_fragments.Activities.Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_and_fragments.Activities.number_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_and_fragments.Activities.otp_Login"
            android:exported="false" />
        <activity
            android:name=".activities_and_fragments.Activities.welcome"
            android:exported="false" />
        <activity
            android:name=".activities_and_fragments.Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>